  <section id="tasks-section">
    <app-card>
    <header>
      <h2>{{ name }}'s Tasks</h2>
      <menu>
        <button (click)="onStartAddTask()">Add Task</button>
      </menu>
    </header>
    @if (showNewTaskForm) {
      <app-new-task-template [userId]="userId" (close)="onCloseAddTask()" />
    }
    <ul id="tasks-list">
      @for (task of selectedUserTask; track task.id) {
        <li>
          @if (selectedUserTask.length > 0) {
            <app-task [task]="task"></app-task>
          } @else {
            <p id="no-tasks">No tasks found for {{ name }}.</p>
          }
        </li>
      }
    </ul>
    </app-card>
  </section>

